@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --black: #010C0B;
  --primary: #5732DB;
  --primary-light: #E5E7FF;
  --primary-light-dark: rgb(190, 196, 253);
  --primary-dark: #3F26D7;
  --primary-extra-dark: #0E0F2B;
  --gray-text: #5B5F5F;
  --gray-bg: #F6F6F6;
  --gray-dark-bg: #E1E1E1;
  --border-gray: #d3d3d3;
  --red: #F45050;
  --green: #08bd80;
  --yellow: #FFBA00;
  --main-gradient: linear-gradient(90deg, var(--primary-extra-dark) 0%, var(--primary-dark) 52%, var(--primary) 100%);
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.inp {
  padding: 12px 10px;
  vertical-align: middle;
  border-radius: 2px;
  width: 100%;
  min-height: 36px;
  background-color: #ffffff;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out 0s;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  box-sizing: border-box;
  resize: none;
}

.inp:focus {
  outline: none;
  border: 1px solid var(--primary);
  box-shadow: inset 0 0 0 1px #007c89;
}

.inp:disabled{
  background-color: var(--gray-bg);
  cursor: not-allowed;
}

.primaryBtn{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: var(--primary);
  color: #FFFFFF;
  border-radius: 4px;
  padding: 14px 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.primaryBtn:disabled{
  background-color: var(--primary-light-dark);
  cursor: not-allowed;
}