.loader {
    aspect-ratio: 1;
    border-radius: 50%;
    border-style: solid;
    /* border-color: #ffffff #ffffff00; */
    animation: l1 1s infinite;
    box-sizing: border-box;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}}